* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image:url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment:scroll;
    overflow-x: hidden;
    overflow: hidden;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 3px solid #FF7A00;
}

.logo {
    font-weight: bold;
    width: 170px;
}

.nickname {
    padding: 0.6rem;
    font-size: 110%;
    cursor: pointer;
    color: #D9D9D9;
    border: none;
    margin-right: 7rem;
    transform: translate(7rem, 0);
    background-color: transparent;
}

.userpic{
    margin-left: 1rem;
    vertical-align: middle;
    margin-right: 5px;
}

#popup {
    text-align: center;
    border-radius: 16px;
    position: fixed;
    width: 160px;
    height: 90px;
    background-color: #CFCFCF;
    padding: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    transform: translate(6rem, 0);
}

#popup a{
    text-decoration: none;
    color: #000000;
}

#popup a:hover {
    color: #FF7A00;
    text-decoration: underline;
}

.navigation {
    display: flex;
    margin-top: 1rem;
    margin-left: -500px;
}

.navigation a {
    color: white;
    text-decoration:none;
    font-weight:bold;
    margin: 0 10px;
    font-size: 17px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
    font-size: 16px;
}

.main-content {
    display: flex;
    height: calc(100vh - 50px);
    overflow: hidden;
}

.sidebar {
    width: 310px;
    background-color: #333;
    color: white;
    padding: 20px;
    overflow-y: auto;
    font-size: 77%;
    overflow: hidden;
    border-right: 4px solid #FF7A00;
}

.categories a {
    margin-bottom: -10px;
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.best{
    margin-top: 7rem;
}

.favor{
    margin-left: 0.7rem;
}

.fire{
    vertical-align: middle;
    margin-right: 5px;
}

.categories a:hover {
    background-color: #555;
}

li {
    list-style-type: none;
}

.products {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
}

.product-card{
    position: relative;
    margin-top:-18rem;
    margin-left: -30rem;
}

.build-main{
    margin-left: 40rem;
}

.build-details{
    font-size: 115%;
    transform: translate(-157px,60px);
}

.build-name p{
    margin-top: 1rem;
}

.compl{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.build-specs{
    margin-left:30px;
}

.build-description{
    font-size: 110%;
    font-weight: bolder;
    transform:translate(-420px,40px);
}

.desc{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.photo-group{
    margin-left: -64.5rem;
    margin-top: 3rem;
}

.square{
    position: relative;
    width: 320px;
    height: 320px;
    border: 2px solid #000000;
    border-radius: 25px;
}

.square img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


#desc{
    position: relative;
    background: #FFFFFF;
    width: 470px;
    height: 260px;
    border: 2px solid #000000;
    border-radius: 25px;
}

.plus{
    position: absolute;
    margin-top: 33rem;
    margin-left: 44rem;
    font-size: 120%;
}

.top{
    margin-bottom: 10rem;
}

.button1 {
    width: 150px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #FF7A00;
    color: white;
    cursor: pointer;
    border: none;
    margin: 0 -920px;
    max-height: 42px;
    margin-left: 62.7rem;
    margin-top: -14rem;
}

.button2 {
    position: absolute;
    width: 270px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #03AA28;
    color: white;
    cursor: pointer;
    border: none;
    margin: 0 -920px;
    margin-left: 99rem;
    margin-top: -21rem;
    font-weight: bolder;
    font-size: 30px;
}

.button1:hover {
    background-color: #e56b00;
}

.button2:hover {
    background-color: #e56b00;
}

.button1:active,input[type=submit]:active
{
    box-shadow: 0px 0px 3px 3px #FF7A00;
}

.button2:active,input[type=submit]:active
{
    box-shadow: 0px 0px 3px 3px #FF0000;
}

.likeButton {
    transition: transform 0.2s;
    cursor: pointer;
    max-width: 45px;
    max-height: 45px;
    margin-left: -1rem;
    margin-right: 1rem;
}

.likeButton:hover {
    transform: scale(1.3);
}

.unlikeButton {
    transition: transform 0.2s;
    cursor: pointer;
    max-width: 45px;
    max-height: 45px;
}

.heart-icon{
    margin-top: 20rem;
    margin-right: 8rem;
    margin-left: -3.5rem;
}

.unlikeButton:hover {
    transform: scale(1.3);
}

.heart:hover {
    transform: scale(1.1);
}

.heart-icon, .thumb-up, .thumb-down {
    cursor: pointer;
    position: relative;
}

