* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: static;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('../images/index.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.site-header .logo {
  width: 250px;
}

button:active,
input[type=submit]:active {
  box-shadow: 0px 0px 3px 3px #D8F6CE;
}

.site-navigation {
  display: flex;
  align-items: center;
}

.site-navigation a {
  text-decoration: none;
  color: #333;
  margin-right: 1rem;
  transform: translate(-320px, 0);
  color: white;
}

.search-and-buttons form {
  display: inline-block;
  margin: 0;
}

.search-and-buttons button {
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  font-size: 99%;
  margin-left: 5px;
}

.search-and-buttons button:last-child {
  margin-right: 0;
}

.profile {
  margin-left: 2rem;
  width: 210px;
}

.profile a {
  margin-left: 2rem;
  width: 210px;
}

.hero {
  background-size: cover;
  text-align: center;
  padding: 4rem 1rem;
  color: white;
  margin: 1rem 1rem;
  transform: translate(40px, -10px);
}

.description {
  text-align: left;
  color: #F5E9FF;
  font-size: 115%;
  width: 350px;
  transform: translate(100px, -230px);
}

.hero-content {
  max-width: 600px;
  margin: 4rem 4rem;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #FF7A00;
  font-weight: bold;
  font-size: 350%;
}

.hero h2 {
  margin-top: -1rem;
  font-weight: bold;
  font-size: 200%;
}

.hero p {
  margin-bottom: 1.5rem;
  color: #F5E9FF;
}

.hero .cta-button {
  background-color: #ff7f00;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  background-color: #EE9562;
  color: black;
  width: 290px;
  height: 75px;
  font-weight: bold;
  font-size: 130%;
}


.vector {
  transform: translate(-250px, 0);
}

.pc {
  position: absolute;
  right: 330px;
  top: 300px;
  width: 700px;
}

.stats {
  display: flex;
  justify-content: right;
  transform: translate(850px, -190px);
  font-weight: bold;
  position: absolute;
}

.stat-item1 {
  background: #FF7A00;
  padding: .5rem .85rem;
  border-radius: 50%;

  margin-right: 30px;
  margin-top: -90px;
  margin-left: 250px;

  font-size: 30px;
  width: 140px;
  height: 140px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stat-item2 {
  background: #ff7b00c9;
  padding: .5rem .85rem;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: -90px;
  font-size: 30px;
  width: 140px;
  height: 140px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stat-item3 {
  background: #ff7b009c;
  padding: .5rem .85rem;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: -90px;
  font-size: 30px;
  width: 140px;
  height: 140px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stats span {
  display: block;
  color: black;
}

.stats span p {
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
}

.under-nav {
  position: absolute;
  left: 350px;
}

@media (max-width: 768px) {

  .site-header,
  .site-navigation {
    flex-direction: column;
  }

  .search-and-buttons {
    display: flex;
    align-items: center;
  }

}