* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    min-width: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo{
    width:500px;
    transform: translate(-50px,10px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    transform: translate(70px, 0);
}

.form-container {
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    margin-right: 50px; 
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 225%;
    transform: translate(-67px,-45px);
    width: 500px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff7f00;
    color: white;
    cursor: pointer;
}

.register{
    border-radius: 50px;
    margin-top: 2rem;
}

form button:hover {
    background-color: #e56d00;
}

.pic {
    width:830px;
    height: 1119px;
    transform: translate(60px, 2px);
}
